.checkBox {
    background-color: var(--azul);
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 500px;
    height: 60px;
    cursor: pointer;
}

.checkBox_player{
    color: var(--cinza-claro);
    padding-left: 1rem;
    width: 100%;
}

.checkBox_player li{
    display: flex;
    gap: 1rem;
}