.playlists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: ; */
    padding: 0; 
    margin: 0;
}

.playlists li{
    width: 25%;
}

.playlists a{
    width: 100%;
}

.playlist{
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    padding: 2rem 0;
}

.playlist_capa{
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content:center;
}

.playlist_musicas li{
    background-color:  var(--azul);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    height: 4rem;
    cursor: pointer;
}

.playlist_musicas{
    width: 35%;
    color: var(--cinza-claro);
    font-weight: bold;
}

.playlist_musicas li:hover{
    color: var(--laranja);
}

.playlist_musicas ul{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding-left: 0;
}

.playlist_musicas_play{
    width: 20px;    
}

.playlist_musicas_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:  0px) and (max-width:  760px) {
	.playlist{
        flex-direction: column;
    }
    .playlist_capa{
        align-self: initial;
    }

    .playlist_musicas{
        width: 75%;
    } 

    .playlists li{
        width: 50%;
    }
}
