.playlists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: ; */
    padding: 0; 
    margin: 0;
}

.playlists li{
    width: 25%;
}

.playlists a{
    width: 100%;
}

.playlist{
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
}

.playlist_capa{
    display: flex;
    align-items: center;
    justify-content:center;
}

.playlist_capa figure{
    width: 70%;
}


.playlist_musicas{
    width: 25%;
}