.playlists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: ; */
    padding: 0; 
    margin: 0;
}

.playlists li{
    width: 25%;
}

.playlists a{
    width: 100%;
}